.all-books .title {
  text-align: left;
}
.all-books .list-bottom {
  justify-content: space-around;
  align-items: center;
  margin: 64px 0;
}
.page {
  width: 200px;
  text-align: center;
  font-size: 16px;
  border-radius: 0;
  padding: 8px;
}
.write-button {
  margin: 0;
  width: 120px;
  height: 32px;
}

.book-title {
  width: 552px;
  font-size: 24px;
  padding: 8px;
}
.book-category {
  width: 304px;
  font-size: 24px;
  padding: 8px;
}

.flex-direction-column .book-content-1 {
  height: 64px;
}
.flex-direction-column .book-content-2 {
  height: 240px;
}
.flex-direction-column .book-content-3 {
  height: 128px;
}

.bottom-wrapper {
  width: 904px;
  justify-content: right;
  margin-bottom: 64px;
}

.confirm-button {
  margin: 0;
  width: 120px;
  height: 32px;
}
