.content-wrapper .book-rank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-wrapper .book-rank .show-more {
  width: 160px;
  height: 56px;
  border-radius: 28px;
}
.book-content-wrapper {
  width: 552px;
}
.book-content-wrapper .title {
  padding: 0;
}

.big-book {
  width: 336px;
}
.big-book-image {
  display: flex;
  align-items: center;
  width: 336px;
  height: 460px;
  cursor: pointer;
  border: 1px solid #ccc;
}
.medium-book {
  width: 252px;
}
.medium-book-image {
  display: flex;
  align-items: center;
  width: 252px;
  height: 345px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.small-book {
  width: 126px;
}
.small-book-image {
  display: flex;
  align-items: center;
  width: 126px;
  height: 172px;
  cursor: pointer;
  position: relative;
  border: 1px solid #ccc;
}

input.book-title {
  width: 568px;
  font-size: 24px;
  padding: 16px;
}
input.book-category {
  width: 320px;
  font-size: 24px;
  padding: 16px;
}
div.book-title {
  width: 568px;
  font-size: 24px;
  text-align: left;
}
div.book-category {
  width: 320px;
  font-size: 24px;
  text-align: right;
}

div.flex-direction-column.content-2.show-toc {
  justify-content: start;
}
