<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookHub</title>
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <script defer src="js/index.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-left">
        <div class="logo">BookHub</div>
        <div class="message">subin님, 환영합니다!</div>
      </div>
      <div class="top-right">
        <div class="board">공지사항</div>
        <div class="search">
          <input class="search-box" type="text" placeholder="클릭해서 검색" />
          <span class="material-symbols-outlined"> search </span>
        </div>
        <a href="/users/login"
          ><span class="material-symbols-outlined"> person </span></a
        >
      </div>
    </div>
    <div class="slide"></div>
    <div class="content-wrapper">
      <div class="book-rank">
        <div class="bold title">인기 도서</div>
        <div class="flex-direction-row">
          <div class="big-book">
            <div class="big-book-image"></div>
            <div class="book-title">책 제목입니다</div>
            <div class="book-summary">
              책 소개입니다.책 소개입니다.책 소개입니다.책 소개입니다.책
              소개입니다.책 소개입니다.책 소개입니다.책 소개입니다.책
              소개입니다.책 소개입니다.
            </div>
          </div>
          <div class="flex-direction-column">
            <div class="flex-direction-row">
              <div class="medium-book">
                <div class="medium-book-image"></div>
                <div class="book-title">책 제목입니다</div>
              </div>
              <div class="medium-book">
                <div class="medium-book-image"></div>
                <div class="book-title">책 제목입니다</div>
              </div>
            </div>
            <div class="flex-direction-row">
              <div class="small-book">
                <div class="small-book-image"></div>
              </div>
              <div class="small-book">
                <div class="small-book-image"></div>
              </div>
              <div class="small-book">
                <div class="small-book-image"></div>
              </div>
              <div class="small-book">
                <div class="small-book-image"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sub-button button">모든 도서 보기</div>
      </div>
      <div class="recent-updated">
        <div class="bold title">최근 업데이트 된 도서</div>
        <div class="flex-direction-row">
          <div class="small-book">
            <div class="small-book-image"></div>
          </div>
          <div class="small-book">
            <div class="small-book-image"></div>
          </div>
          <div class="small-book">
            <div class="small-book-image"></div>
          </div>
          <div class="small-book">
            <div class="small-book-image"></div>
          </div>
          <div class="small-book">
            <div class="small-book-image"></div>
          </div>
          <div class="small-book">
            <div class="small-book-image"></div>
          </div>
        </div>
        <div class="sub-button button">모든 도서 보기</div>
      </div>
    </div>
  </body>
</html>
