<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookHub</title>
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <script defer src="js/index.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-left">
        <a href="/"><div class="logo">BookHub</div></a>
        <div class="message">
          {%if user_nickname%} {{user_nickname}}님, 환영합니다! {%else%}
          로그인이 필요합니다. {%endif%}
        </div>
      </div>
      <div class="top-right">
        <a href="/boards?page=1" class="board">공지사항</a>
        <div class="input search">
          <form id="search-form" method="get" action="/search">
            <input id="search-input" type="text" placeholder="클릭해서 검색" />
            <button type="submit">
              <span class="material-symbols-outlined"> search </span>
            </button>
          </form>
        </div>
        {%if user_nickname%}
        <a href="/users/auth"
          ><span class="material-symbols-outlined"> person </span></a
        >
        {%else%}
        <a href="/users/login"
          ><span class="material-symbols-outlined"> person </span></a
        >
        {%endif%}
      </div>
    </div>
    <div class="slide"></div>
    <div class="content-wrapper">
      <div class="book-rank">
        <div class="bold title">추천 도서</div>
        <div class="flex-direction-row">
          <a
            href="/books/view?bookId={{bookListOrderByLikes[0].book_uid}}&tocId={{bookListOrderByLikes[0].toc_uid}}"
          >
            <div class="big-book">
              <div class="big-book-image"></div>
              <div class="simple-title">
                {{bookListOrderByLikes[0].book_title}}
              </div>
              <div class="simple-summary">
                {{bookListOrderByLikes[0].book_summary}}
              </div>
            </div>
          </a>
          <div class="flex-direction-column">
            <div class="flex-direction-row">
              <a
                href="/books/view?bookId={{bookListOrderByLikes[1].book_uid}}&tocId={{bookListOrderByLikes[1].toc_uid}}"
              >
                <div class="medium-book">
                  <div class="medium-book-image"></div>
                  <div class="simple-title">
                    {{bookListOrderByLikes[1].book_title}}
                  </div>
                </div>
              </a>
              <a
                href="/books/view?bookId={{bookListOrderByLikes[2].book_uid}}&tocId={{bookListOrderByLikes[2].toc_uid}}"
              >
                <div class="medium-book">
                  <div class="medium-book-image"></div>
                  <div class="simple-title">
                    {{bookListOrderByLikes[2].book_title}}
                  </div>
                </div>
              </a>
            </div>
            <div class="flex-direction-row">
              <a
                href="/books/view?bookId={{bookListOrderByLikes[3].book_uid}}&tocId={{bookListOrderByLikes[3].toc_uid}}"
              >
                <div class="small-book">
                  <div class="small-book-image"></div>
                </div>
              </a>
              <a
                href="/books/view?bookId={{bookListOrderByLikes[4].book_uid}}&tocId={{bookListOrderByLikes[4].toc_uid}}"
              >
                <div class="small-book">
                  <div class="small-book-image"></div>
                </div>
              </a>
              <a
                href="/books/view?bookId={{bookListOrderByLikes[5].book_uid}}&tocId={{bookListOrderByLikes[5].toc_uid}}"
              >
                <div class="small-book">
                  <div class="small-book-image"></div>
                </div>
              </a>
              <a
                href="/books/view?bookId={{bookListOrderByLikes[6].book_uid}}&tocId={{bookListOrderByLikes[6].toc_uid}}"
              >
                <div class="small-book">
                  <div class="small-book-image"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <a href="books/list?page=1" class="sub-button show-more"
          >모든 도서 보기</a
        >
      </div>
      <div class="recent-updated">
        <div class="bold title">신간 도서</div>
        <div class="flex-direction-row">
          <a
            href="/books/view?bookId={{bookListOrderByDate[0].book_uid}}&tocId={{bookListOrderByDate[0].toc_uid}}"
          >
            <div class="small-book">
              <div class="small-book-image"></div>
            </div>
          </a>
          <a
            href="/books/view?bookId={{bookListOrderByDate[1].book_uid}}&tocId={{bookListOrderByDate[1].toc_uid}}"
          >
            <div class="small-book">
              <div class="small-book-image"></div>
            </div>
          </a>
          <a
            href="/books/view?bookId={{bookListOrderByDate[2].book_uid}}&tocId={{bookListOrderByDate[2].toc_uid}}"
          >
            <div class="small-book">
              <div class="small-book-image"></div>
            </div>
          </a>
          <a
            href="/books/view?bookId={{bookListOrderByDate[3].book_uid}}&tocId={{bookListOrderByDate[3].toc_uid}}"
          >
            <div class="small-book">
              <div class="small-book-image"></div>
            </div>
          </a>
          <a
            href="/books/view?bookId={{bookListOrderByDate[4].book_uid}}&tocId={{bookListOrderByDate[4].toc_uid}}"
          >
            <div class="small-book">
              <div class="small-book-image"></div>
            </div>
          </a>
          <a
            href="/books/view?bookId={{bookListOrderByDate[5].book_uid}}&tocId={{bookListOrderByDate[5].toc_uid}}"
          >
            <div class="small-book">
              <div class="small-book-image"></div>
            </div>
          </a>
        </div>
        <a href="/books/list?page=1" class="sub-button show-more"
          >모든 도서 보기</a
        >
      </div>
    </div>
  </body>
</html>
