<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원정보</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/user.css" />
  </head>
  <body>
    <div class="content-wrapper">
      <div class="window">
        <div class="bold title">회원정보</div>
        <form class="flex-direction-column" method="post" action="/users/info">
          <div class="input">
            <input
              type="text"
              name="userNickname"
              placeholder="새로운 닉네임을 입력해주세요"
              value="{{user_nickname}}"
            />
          </div>
          <div class="input">
            <input
              type="password"
              name="userPw"
              placeholder="새로운 비밀번호를 입력해주세요"
            />
          </div>
          <div class="bold simple-title">가입일: {{user_created_at}}</div>
          <div class="bold simple-title">
            작성한 도서 수: {{book_writer_count}}
          </div>
          <div class="button-wrapper">
            <a href="/users/exit" class="sub-button button">탈퇴하기</a>
            <button class="main-button button" type="submit">수정완료</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
