<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/user.css" />
  </head>
  <body>
    <div class="content-wrapper">
      <div class="window">
        <div class="bold title">비밀번호 재설정</div>
        <form
          class="flex-direction-column"
          method="post"
          action="/users/signup"
        >
          <div class="input">
            <input
              type="text"
              name="userNickname"
              placeholder="닉네임을 입력해주세요"
            />
          </div>
          <div class="input">
            <input
              type="text"
              name="userId"
              placeholder="아이디를 입력해주세요"
            />
          </div>
          <div class="input">
            <input
              type="password"
              name="targetPw"
              placeholder="새로운 비밀번호를 입력해주세요"
            />
          </div>
          <div class="button-wrapper">
            <button class="main-button button" type="submit">
              재설정 완료
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
