<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{book_search}} 검색 결과</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/book.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <script defer src="../js/index.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-left">
        <a href="/"><div class="logo">BookHub</div></a>
        <div class="message">
          {%if user_nickname%} {{user_nickname}}님, 환영합니다! {%else%}
          로그인이 필요합니다. {%endif%}
        </div>
      </div>
      <div class="top-right">
        <a href="/boards?page=1" class="board">공지사항</a>
        <div class="input search">
          <form id="search-form" method="get" action="/search">
            <input id="search-input" type="text" placeholder="클릭해서 검색" />
            <button type="submit">
              <span class="material-symbols-outlined"> search </span>
            </button>
          </form>
        </div>
        {%if user_nickname%}
        <a href="/users/auth"
          ><span class="material-symbols-outlined"> person </span></a
        >
        {%else%}
        <a href="/users/login"
          ><span class="material-symbols-outlined"> person </span></a
        >
        {%endif%}
      </div>
    </div>
    <div class="content-wrapper">
      <div class="bold title">{{book_search}} 검색 결과</div>
      <div class="flex-direction-column">
        {%for book in result%}
        <a
          href="/books/view?bookId={{book.book_uid}}&tocId={{book.first_toc_uid}}"
        >
          <div class="flex-direction-row content-wrapper">
            <div class="big-book-image"></div>
            <div class="flex-direction-column">
              <div class="flex-direction-row book-content-wrapper">
                <div class="simple-title book-title">{{book.book_title}}</div>
                <div class="simple-title book-category">
                  {{book.book_category}}
                </div>
              </div>
              <div class="flex-direction-row book-content-wrapper">
                {{book.book_summary}}
              </div>
              <div class="flex-direction-row book-content-wrapper">
                <div class="simple-title">저자: {{book.book_writer}}</div>
                <div class="flex-direction-row">
                  <div>추천수: {{book.book_likes}}</div>
                  <div>조회수: {{book.book_views}}</div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="sep-line"></div>
        {% endfor %}
      </div>
      <div class="flex-direction-row list-bottom">
        <div class="confirm-button"></div>
        <div class="page-wrapper">
          {% for page in pagination.paginationArray %} {% if page ===
          currentPage %}
          <a class="bold page-button" href="/boards?page={{page}}">{{page}}</a>
          {% else %}
          <a class="page-button" href="/boards?page={{page}}">{{page}}</a>
          {% endif %} {% endfor %}
        </div>
        <a href="/books/toc/write" class="main-button confirm-button"
          >새 책 쓰기</a
        >
      </div>
    </div>
  </body>
</html>
