<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/board.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-left">
        <a href="/"><div class="logo">BookHub</div></a>
        <div class="message">
          {%if user_nickname%} {{user_nickname}}님, 환영합니다! {%else%}
          로그인이 필요합니다. {%endif%}
        </div>
      </div>
      <div class="top-right">
        <a href="/boards?page=1" class="board">공지사항</a>
        <div class="input search">
          <form id="search-form" method="get" action="/search">
            <input id="search-input" type="text" placeholder="클릭해서 검색" />
            <button type="submit">
              <span class="material-symbols-outlined"> search </span>
            </button>
          </form>
        </div>
        {%if user_nickname%}
        <a href="/users/auth"
          ><span class="material-symbols-outlined"> person </span></a
        >
        {%else%}
        <a href="/users/login"
          ><span class="material-symbols-outlined"> person </span></a
        >
        {%endif%}
      </div>
    </div>
    <div class="content-wrapper">
      <div class="bold title">공지사항</div>
      <div class="flex-direction-column">
        {% for board in result %}
        <a href="/boards/view?boardId={{board.board_uid}}">
          <div class="flex-direction-column">
            <div class="flex-direction-row">
              <div class="bold board-big-title left-text">
                {{board.board_title}}
              </div>
            </div>
            <div class="flex-direction-row board-bottom content-wrapper">
              <div class="simple-title">{{board.board_writer}}</div>
              <div class="flex-direction-row">
                <div class="board-left">작성일: {{board.board_created_at}}</div>
                <div class="board-right">조회수: {{board.board_views}}</div>
              </div>
            </div>
          </div>
        </a>
        <div class="sep-line"></div>
        {% endfor %}
      </div>
      <div class="flex-direction-row list-bottom">
        <div class="confirm-button"></div>
        <div class="page-wrapper">
          <form id="board-page-form" method="get" action="/boards?page=1">
            <input
              id="board-page-input"
              class="page input"
              placeholder="이동할 페이지 입력"
            />
          </form>
        </div>
        <a href="/boards/write" class="main-button confirm-button">글쓰기</a>
      </div>
    </div>
  </body>
  <script>
    function boardPageAction() {
      const inputValue = document.getElementById("board-page-input").value;
      const newAction = "/boards?page=" + inputValue;

      location.href = newAction;
    }
    document
      .getElementById("board-page-form")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        boardPageAction();
      });
  </script>
</html>
